@media(min-width:1400px){
    .container{
        width: 1320px !important;
    }
}
@media(min-width:1200px){
    .container{
        width: 1140px !important;
    }
}
@media(min-width:992px){
    .container{
        width: 960px !important;
    }
}
@media(min-width:768px){
    .container{
        width: 720px !important;
    }
}
@media(min-width:576px){
    .container{
        width: 540px ;
    }
}
